*.pyc
*sublime*
paegan/transport/_cache/*.nc
paegan/transport/_output/*
paegan.log

tests/resources/files/*.nc

paegan/resources/bathymetry/*

paegan/resources/shoreline/*
!paegan/resources/shoreline/global/
!paegan/resources/shoreline/global/*

# For distutils
paegan.egg-info/*
dist/*
build/*